@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #444;
}

button {
  background: tomato;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.center {
  text-align: center;
}

.login {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 340px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .12), 0 12px 13px rgba(0, 0, 0, .24);
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.login input {
  padding: 5px 8px;
  border: 1px solid #aaa;
}

.login input:nth-child(2) {
  margin-top: 16px;
}

.login input:nth-child(3) {
  margin: 16px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1;
  height: 100vh;
  background: #eee;
}

.menu p {
  margin: 10px 0;
  color: #333;
}

.menu h2 {
  text-align: center;
  margin-bottom: 60px;
}

.menu ul li {
  list-style: none;
  display: block;
  padding: 20px 12px;
  font-size: 14px;
  transition: .1s ease-out;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf;
}

.menu ul li:nth-child(1) {
  border-top: 1px solid #dfdfdf;
}

.menu ul li:hover {
  background: rgba(216, 215, 215, 0.2);
}

.menu ul {
  margin-top: 50px;
}

.main {
  flex: 5;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
}

.top {
  /* flex: 1; */
  padding: 8px;
  border-bottom: 1px solid #dfdfdf;
}

.content {
  flex: 15;
}

.right {
  float: right;
}

.active {
  color: tomato;
  position: relative;
}

.active li {
  background: rgba(216, 215, 215, 0.4);
}

.user_profile {
  margin: auto;
  background: rgba(255, 91, 77, .1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.user_profile i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: tomato;
  font-size: 30px;
}

table {
  border-spacing: 0;
  width: 100%;
}

table tr th {
  background: 0;
}

table tr:nth-child(even) {
  background: rgb(245, 244, 244);
}

table tr td {
  padding: 10px 40px;
  text-align: center;
  font-size: 14px;
  color: #444;
}

.product_img {
  width: 80px;
  cursor: pointer;
}

.users {
  padding-top: 20px;
}

.tablehead {
  background: 0 !important;
}